body {
    text-align: center;
    background: url("http://dash.ga.co/assets/anna-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
    background: url("https://i.natgeofe.com/n/874df281-d3e0-489a-98c0-6b840023b828/newyork_NationalGeographic_2328428_2x3.jpg");
    color: red;

}
